@{
}
@model List<StudentPortal.Models.Entities.Subject>

<h2>All Subject</h2>
<a class="btn btn-success mb-3" asp-controller="Subject" asp-action="Add">Create New Subject</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.Id</td>
                <td>@subject.Name</td>
                <td>@subject.Description</td>
                <td>@(subject.IsActive ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subject.Id" class="btn btn-primary">Edit</a>
                    <form method="post" 
                        asp-controller="Subject" 
                        asp-action="Delete" 
                        asp-route-id="@subject.Id">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>                
                </td>
            </tr>
        }
    </tbody>